<!DOCTYPE html>
<html lang="html">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Willkommen beim Senioren Service Neustadt am Rübenberge">
  	<meta name="HandheldFriendly" content="true">
    <meta name="theme-color" content="#4caf50">
    <link rel="icon" href="/gfx/favicon.ico" type="image/vnd.microsoft.icon">
    <meta name="msapplication-navbutton-color" content="#4caf50">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/navbar.css">

    {% block header %}{% endblock %}
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
    		<div class="navbar-header">
    			<button id="nav-btn" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav">
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    			<a class="navbar-brand" href="{{ path_for('index') }}"><span class="nav-span">SENIOREN</span> <span class="nav-span">SERVICE</span> <span class="nav-span">NEUSTADT</span></a>
    		</div>
    		<div class="collapse navbar-collapse" id="myNav">
    			<ul class="nav navbar-nav navbar-right">
    				<li><a href="{{ path_for('index') }}">Startseite</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Informationen
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path_for('leistungsangebot') }}">Leistungsangebot</a></li>
                <li><a href="{{ path_for('mitarbeiter') }}">Mitarbeiter</a></li>
                <li><a href="{{ path_for('kostenubersicht') }}">Kostenübersicht</a></li>
                <li><a href="{{ path_for('pflegegesetz') }}">Pflegestärkungsgesetz</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sonstiges
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path_for('gutscheine') }}">Gutscheine</a></li>
                <li><a href="{{ path_for('jobangebote') }}">Jobangebote</a></li>
              </ul>
            </li>
            <li><a href="{{ path_for('contact') }}">Kontakt</a></li>
    				<li><a href="{{ path_for('legal') }}">Impressum</a></li>
    			</ul>
    		</div>
    	</div>
    </nav>

    {% block content %}{% endblock %}

    <div class="font-size-chooser">

      <div onclick="decreaseFontSize()" class="decrease-font-size">-</div>

      <div onclick="resetFontSize()" class="choose-font">Schriftgröße</div>

      <div onclick="increaseFontSize()" class="increase-font-size">+</div>

    </div>

    <footer>

      <p>{{ "now"|date("Y") }} &copy; Senioren-Service-Neustadt e.V.</p>

      <ul class="footer-list">

        <li><a href="{{ path_for('index') }}">Startseite</a></li>
        <li><a href="{{ path_for('contact') }}">Kontakt</a></li>
        <li><a href="{{ path_for('legal') }}">Impressum</a></li>
        <li><a href="{{ path_for('privacy') }}">Datenschutz</a></li>

      </ul>

      <p>Design by <a href="https://moritz-schramm.com" target="_blank">Moritz Schramm</a></p>

    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="/scripts/main.js"></script>

    {% block footer %}{% endblock %}

  </body>
</html>
