{% extends "layout.twig" %}

{% block title %}Seite bearbeiten{% endblock %}

{% block header %}
<link rel="stylesheet" href="/styles/jquery-te-1.4.0.css">
{% endblock %}

{% block content %}

<div class="distance"></div>

<div class="container min-container">

  <div class="tile">

    <h1>Seite bearbeiten</h1>

    <form action="{{ path_for('commitEdit') }}" method="POST">

      <textarea id="page-edit" name="page-edit">{{ page_content }}</textarea>

      <input type="hidden" id="requested_uri" name="requested_uri" value="{{ requested_uri }}">

      {% if saved %}

      <div class="alert alert-success">

        Änderungen wurden erfolgreich gespeichert

      </div>

      {% endif %}

      <button type="submit" class="btn btn-success">Speichern</button>

      <a href="{{ path_for('index') }}" class="btn btn-danger">Abbrechen</a>

      <a href="{{ path_for('logout') }}?uri={{ requested_uri }}" class="btn btn-default pull-right">Logout</a>

    </form>

  </div>

</div>

{% endblock %}

{% block footer %}
<script src="/scripts/jquery-te-1.4.0.min.js"></script>
<script>
$(document).ready(function() {

  $('#page-edit').jqte();
});
</script>
{% endblock %}
