{% extends "layout.twig" %}

{% block title %}Jobangebote bearbeiten{% endblock %}

{% block content %}

<div class="distance"></div>

<div class="container min-container">

  <div class="tile">

    {% if logged_in %}

    <h1>Jobangebote bearbeiten</h1>

    <p>
      Klicken Sie auf das rote Kreuz neben einem Jobangebot um es zu entfernen.
      Falls Sie ein Jobangebot ausversehen gelöscht haben und es wiederherstellen möchten, klicken Sie auf den (neu erschienen) grünen Knopf.
      <br>
      Ein neues Angebot können Sie mithilfe des Textfelds erstellen. Am Ende müssen Sie die Eingaben speichern.
      <br>
    </p>

    {% set id = 0 %}
    <div id="jobs">
    {% if jobs %}

      {% for job in jobs %}
        <div id="job-{{ id }}" style="margin-bottom: 3px;">
          <button type="button" class="btn btn-danger" onclick="removeJob($(this), {{ id }})">&times;</button>
          <span id="job-name-{{ id }}">{{ job }}</span>
        </div>
        {% set id = id + 1 %}
      {% endfor %}
    
    {% endif %}
    <script>var nextId = {{ id }};</script>
    </div>

    <br>

    <div class="from-group">

      <div class="row">

        <div class="col-sm-4">

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Neues Jobangebot" id="new_job">
          </div>

        </div>

        <div class="col-sm-1">
          <button type="button" class="btn btn-primary" onclick="newJob();">+ Neu</button>
        </div>
        <div class="col-sm-7"></div>

      </div>

    </div>

    <hr>

    <div class="form-group clearfix">

      <button type="button" class="btn btn-success pull-left" onclick="save();">Speichern</button>
      <a class="btn btn-danger pull-left" style="margin-left: 3px" href="{{ path_for('jobangebote') }}">Abbrechen</a>
      <div class="loader hidden pull-left"></div>

    </div>

    {% else %}

      <h1>Login</h1>

      <form role="form" action="{{ path_for('jobLogin') }}" method="POST">

        <div class="form-group">

          <input type="text" id="user" name="user" class="form-control" placeholder="Benutzer">

        </div>

        <div class="form-group">

          <input type="password" id="password" name="password" class="form-control" placeholder="Passwort">

        </div>

        {% if login_error %}

        <div class="alert alert-danger">
          Falsches Passwort oder falscher Benutzer. Bitte versuchen Sie es erneut.
        </div>

        {% endif %}

        <div class="form-group">

          <button type="submit" class="btn btn-success">Login</button>

        </div>

      </form>

    {% endif %}

  </div>

</div>

{% endblock %}

{% block footer %}

{% if logged_in %}
<script>var jobs_url = '{{ path_for('jobangebote') }}'; var jobs = JSON.parse('{{ jobsAsJson|raw }}'); var data = JSON.parse('{{ jobsAsJson|raw }}');</script>
<script src="{{ path_for('index') }}scripts/job_edit.js"></script>
{% endif %}

{% endblock %}
